.NovoVideoContainer {
  background-color: #262626;
  color: #fff;
}

.NovoVideoContainerInfo {
  display: grid;
  gap: 10px;
  padding: 47px;
}

.NovoVideoContainerInfo h1,
p {
  text-align: center;
  text-transform: uppercase;
}

.NovoVideoContainerInfo h1 {
  font-size: 60px;
}

.NovoVideoContainerInfo p {
  font-size: 20px;
}
